SoC-appdata/collisions
SoC-appdata/nebula
SoC-appdata/saves
SoC-appdata/logs
SoC-appdata/conf.lua
SoC-appdata/conf.lua.backup

NAEV-appdata/collisions
NAEV-appdata/nebula
NAEV-appdata/saves
NAEV-appdata/logs
NAEV-appdata/conf.lua
NAEV-appdata/conf.lua.backup
