[submodule "Repositories/naev"]
	path = Repositories/naev
	url = https://github.com/Mutos/naev.git
[submodule "Repositories/SoC-dat"]
	path = Repositories/SoC-dat
	url = https://github.com/Mutos/SoC-dat.git
[submodule "Repositories/check"]
	path = Repositories/check
	url = https://github.com/naev/naev.git
